body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(72, 129, 142);
}
#container {
    background-image: url("../images/skyblue-wallpaper.jpg");
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.center {
    align-self: center;
}

#header {
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    font-size: 40px;
}

#title {
    margin: 0px 10px;
}

.relay{
    right: 0;
    position: absolute;
    margin: 0px 10px;
    margin: 0px 15px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(72, 129, 142);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: none;
    display: none;
    cursor: pointer;
    outline: none;
}

.relay:hover {
    background-color: rgb(130, 166, 174);
}

.leave {
    background-color: #bd1212;
}
.leave:hover {
    background: red;
}

.show {
    display: inline-block;
}

#no-signal {
    background-image: url("../images/no-signal.gif");
    text-align: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#no-signal div {
    margin: 0 auto;
    font-size: 50px;
    color: black;
}

#content {
    height: 85%;
    width: 100%;
}

#footer {
    height: 5%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}